<!-- Header genérico para vistas EJS -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Préstamos</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <link href="/src/output.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="https://img.freepik.com/vector-premium/logotipo-libro-o-biblioteca-librerias-empresas-editoriales-editores-enciclopedias-bibliotecas-educacion_661040-9761.jpg?w=360" />
</head>
<body class="min-h-screen bg-gradient-to-br from-gray-500 via-gray-800 to-gray-700 text-gray-900 dark:text-white">
